// variables:
$white: #fff;
$black: #000;
$red: #cb1818;
$borderColor: #e4e4e4;
$blackText: #333;
$mainText: #a3a3a3;

*{
  outline: none;
}

body{
  background-color: #eeeeee;
  color: $mainText;
  font : {
    size: 14px;
    family: 'Ubuntu';
    weight: 400;
  }

  header{
    background-color: $red;
    color: $white;
  }

  .rowLoadMore{
    text-align: center;

    img.gif_loader{
      width: 45px;
      display: none;
    }
  }

  .btn{
    border: 1px solid $borderColor;
    border-radius: 0;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 15px;
    background-color: transparent;
    color: $red;
    text-align: center;
    font-size: .9em;
    line-height: 2;

    &:hover{
      background-color: $red;
      color: $white;
    }

    &.btn--view{
      font-weight: 300;
      background-color: #d9d9d9;
      color: #999d9e;
    }

    &.load_more{
      margin: 30px 0;

      .gif_loader{
        display: none;
      }
      span{
        display: inline-block;
      }

      &.loading{
        border-color: transparent;
        padding: 0;

        &:hover{
          background-color: transparent;
          cursor: auto;
        }

        .gif_loader{
          display: inline-block;
        }

        span{
          display: none;
        }
      }
    }
  }

  .content{
    background-color: $white;
    padding: 0 15px 15px;
  }

  .productsWrap{
    background-color: $white;
    padding: 0 15px 15px;

    .productsWrap__row{
      @media (max-width: 500px){
        .col-xs-6{
          width: 100%;
        }
      }

      &.row--hidden{
        display: none;
      }

      &:hover{
        .card{
          box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.35);
        }
        .btn{
          background-color: #ed8e8e;

          &:hover{
            background-color: $red;
            color: $white;
          }
          &.btn--view{
            background-color: #d9d9d9;

            &:hover{
              background-color: #9e9e9e;
              color: $white;
            }
          }
        }
      }

      .card{
        position: relative;
        border: 1px solid $borderColor;
        margin-top: 50px;
        padding: 10px;

        .card__img{
          position: relative;
          top: -30px;
          background-color: $white;
          height: 250px;
          border: 1px solid $borderColor;

          img{
            padding: 10px;

            max-height: 100%;
            max-width: 100%;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
          }
        }

        .card__title{
          font-size: 1.2em;
          font-weight: 500;
          color: $blackText;
        }

        .card__descr{
            font-size: .9em;
            padding: 15px 0;
        }
        .card__price{
          margin-bottom: 20px;

          .card__price__discount{
            color: $blackText;
            font-size: 1.8em;
            text-transform: uppercase;
          }

          .card__price__cost{
            color: $red;
            font-size: 1.25em;
            padding: 0 10px;
            text-decoration: line-through;
            text-transform: uppercase;
          }
        }

        .card__info{
          position: absolute;
          top: 100px;
          color: $white;
          padding: 10px 20px;
          font-weight: 500;
        }
        .card__info--new{
          background-color: $black;
          right: 10px;
        }
        .card__info--sale{
          background-color: $red;
        }

        .card__btns{
          overflow: auto;

          .btn{
            width: calc(50% - 5px);
            padding: 10px 0;
          }
          .btn--add{
            float: left;
            font-weight: 500;
          }
          .btn--view{
            float: right;
          }
        }

      }
    }
  }

  ul{
    padding: 0;

    li{
      list-style-type: none;
      padding: 5px 0;

      i{
        color: $red;
        margin-right: 10px;
      }
    }
  }

  footer{
    border-bottom: 18px solid $red;

    .footerCard{
      border: 1px solid $borderColor;
      padding: 24px;
      margin: 15px 0;
      min-height: 372px;

      &.storeInfo{
        i{
          font-size: 2em;
          width: 24px;
          text-align: center;
        }

        li{
          padding: 10px 0;
          line-height: 1.5em;
        }
      }

      h3{
        text-transform: uppercase;
        font-family: 'Raleway';
        font-size: 1.43em;
        color: $blackText;
      }

      p, li, li i{
        font-size: .95em;
        line-height: 1;
      }

      p{
        margin: 0;
        line-height: 1.5em;
      }

      li{
        overflow: auto;

        span{
          float: left;

          i{
            display: inline-block;
            float: left;
          }

          &:last-of-type{
            width: 80%;
          }
        }
      }
    }
  }
}
